## Overview of the Data Set

In this project, we'll continue working with the [CIA World Factbook](https://www.cia.gov/library/publications/the-world-factbook/), a compendium of facts about countries. The Factbook contains demographic information for each country in the world, including:

- `populatio`n - The population as of 2015
- `population_growth` - The annual population growth rate, as a percentage
- `area` - The total land and water area

You can download the Factbook as a SQLite database [from GitHub](https://github.com/factbook/factbook.sql) if you want to work with it on your own computer. In this guided project, we'll be working with Python and the SQLite command line tool (SQLite Command Shell) to connect to the database, extract data, and perform analysis on the data.

## SQLite Command Shell

SQLite is a relational database management system that enables us to create databases and query them using SQL syntax. SQLite is simpler than full database systems like MySQL and PostgreSQL. It's good for cases where ease of use is more important than performance. Each SQLite database is stored as a single file, making it easy to transport.

The Factbook database is in the file `factbook.db`. The `db` at the end is a file extension that's short for database.

We can open the Factbook database in the SQLite Command Shell by navigating to the same folder as factbook.db, then typing `sqlite3 factbook.db` on the command line. This enables us to manage the database and run SQL queries.

## Using Python with SQLite

The [`sqlite3` library](https://docs.python.org/3/library/sqlite3.html), which comes with Python by default, allows us to connect to SQLite databases. To do this, we open a database connection, then create an object that can run queries.

For example, this code will let us connect to `factbook.db` and select all of the rows:

```python
import sqlite3
conn = sqlite3.connect(r'C:\Users\USER\Downloads\The Ultimate Plan\Jupyter Notebook\Datasets\factbook.db')

c = conn.cursor()
c.execute('SELECT * FROM facts;')

print(c.fetchall())
```

The code above creates a [`Connection`](https://docs.python.org/3/library/sqlite3.html#connection-objects) object. We then create a [`Cursor`](https://docs.python.org/3/library/sqlite3.html#cursor-objects) instance, which can execute queries. Finally, we execute a query and display the results using the `print` function. To learn more about the `sqlite3` library, read the package documentation [on the official Python website](https://docs.python.org/3/library/sqlite3.html).

In [1]:
import sqlite3

conn = sqlite3.connect(r'C:\Users\USER\Downloads\The Ultimate Plan\Jupyter Notebook\Datasets\factbook.db')

cur = conn.cursor()
query = "select name, population from facts where population != 'None' order by population asc limit 10;"
cur.execute(query)

print(cur.fetchall())

[('Antarctica', 0), ('Pitcairn Islands', 48), ('Cocos (Keeling) Islands', 596), ('Holy See (Vatican City)', 842), ('Niue', 1190), ('Tokelau', 1337), ('Christmas Island', 1530), ('Svalbard', 1872), ('Norfolk Island', 2210), ('Falkland Islands (Islas Malvinas)', 3361)]

## Computing Population Projections

You can read the results of a SQL query into a pandas dataframe using the `read_sql_query` function, which the [official pandas website documents](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql_query.html). The `read_sql_query` function takes a SQL query string and a connection object, and returns a dataframe containing all of the rows and columns from the query.

When pandas reads in columns this way, it automatically uses the column types from the original the database. Blank entries in the database (like the ones in the `area_land` column) will have `NaN` values in a dataframe, which means "Not a Number." This is because pandas can't have blanks in numeric columns; it uses `NaN` to signify invalid or missing values instead.

You can learn more about how to work with missing data in the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/missing_data.html). For now, we'll just use the `dropna` method with the `axis=0` argument, which will drop any rows that have `NaN` values.

In [11]:
import pandas as pd
import math

facts = pd.read_sql_query('select * from facts', conn)
facts = facts.dropna(axis=0)

def predict_2015(row):
    n = row['population']*(math.e**((row['population_growth']/100)*35))
    return round(n,0)

facts['2050_pop'] = facts.apply(predict_2015, axis=1)
facts

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate,created_at,updated_at,2050_pop
0,1,af,Afghanistan,652230.0,652230.0,0.0,32564342.0,2.32,38.57,13.89,1.51,2015-11-01 13:19:49.461734,2015-11-01 13:19:49.461734,73348194.0
1,2,al,Albania,28748.0,27398.0,1350.0,3029278.0,0.30,12.92,6.58,3.30,2015-11-01 13:19:54.431082,2015-11-01 13:19:54.431082,3364651.0
2,3,ag,Algeria,2381741.0,2381741.0,0.0,39542166.0,1.84,23.67,4.31,0.92,2015-11-01 13:19:59.961286,2015-11-01 13:19:59.961286,75291526.0
3,4,an,Andorra,468.0,468.0,0.0,85580.0,0.12,8.13,6.96,0.00,2015-11-01 13:20:03.659945,2015-11-01 13:20:03.659945,89251.0
4,5,ao,Angola,1246700.0,1246700.0,0.0,19625353.0,2.78,38.78,11.49,0.46,2015-11-01 13:20:08.625072,2015-11-01 13:20:08.625072,51926136.0
5,6,ac,Antigua and Barbuda,442.0,442.0,0.0,92436.0,1.24,15.85,5.69,2.21,2015-11-01 13:20:13.049627,2015-11-01 13:20:13.049627,142667.0
6,7,ar,Argentina,2780400.0,2736690.0,43710.0,43431886.0,0.93,16.64,7.33,0.00,2015-11-01 13:20:18.233063,2015-11-01 13:20:18.233063,60141124.0
7,8,am,Armenia,29743.0,28203.0,1540.0,3056382.0,0.15,13.61,9.34,5.80,2015-11-01 13:20:23.048753,2015-11-01 13:20:23.048753,3221129.0
8,9,as,Australia,7741220.0,7682300.0,58920.0,22751014.0,1.07,12.15,7.14,5.65,2015-11-01 13:20:28.186341,2015-11-01 13:20:28.186341,33085983.0
9,10,au,Austria,83871.0,82445.0,1426.0,8665550.0,0.55,9.41,9.42,5.56,2015-11-01 13:20:33.093597,2015-11-01 13:20:33.093597,10505043.0
10,11,aj,Azerbaijan,86600.0,82629.0,3971.0,9780780.0,0.96,16.64,7.07,0.00,2015-11-01 13:20:38.210262,2015-11-01 13:20:38.210262,13686627.0
11,12,bf,"Bahamas, The",13880.0,10010.0,3870.0,324597.0,0.85,15.50,7.05,0.00,2015-11-01 13:20:42.754219,2015-11-01 13:20:42.754219,437066.0
12,13,ba,Bahrain,760.0,760.0,0.0,1346613.0,2.41,13.66,2.69,13.09,2015-11-01 13:20:47.686896,2015-11-01 13:20:47.686896,3130186.0
13,14,bg,Bangladesh,148460.0,130170.0,18290.0,168957745.0,1.60,21.14,5.61,0.46,2015-11-01 13:20:52.753843,2015-11-01 13:20:52.753843,295789678.0
14,15,bb,Barbados,430.0,430.0,0.0,290604.0,0.31,11.87,8.44,0.30,2015-11-01 13:20:57.219984,2015-11-01 13:20:57.219984,323909.0
15,16,bo,Belarus,207600.0,202900.0,4700.0,9589689.0,0.20,10.70,13.36,0.70,2015-11-01 13:21:02.382438,2015-11-01 13:21:02.382438,10285020.0
16,17,be,Belgium,30528.0,30278.0,250.0,11323973.0,0.76,11.41,9.63,5.87,2015-11-01 13:21:07.317024,2015-11-01 13:21:07.317024,14774785.0
17,18,bh,Belize,22966.0,22806.0,160.0,347369.0,1.87,24.68,5.97,0.00,2015-11-01 13:21:12.255851,2015-11-01 13:21:12.255851,668401.0
18,19,bn,Benin,112622.0,110622.0,2000.0,10448647.0,2.78,36.02,8.21,0.00,2015-11-01 13:21:17.437291,2015-11-01 13:21:17.437291,27645763.0
19,20,bt,Bhutan,38394.0,38394.0,0.0,741919.0,1.11,17.78,6.69,0.00,2015-11-01 13:21:21.942736,2015-11-01 13:21:21.942736,1094158.0
20,21,bl,Bolivia,1098581.0,1083301.0,15280.0,10800882.0,1.56,22.76,6.52,0.62,2015-11-01 13:21:27.041970,2015-11-01 13:21:27.041970,18645928.0
21,22,bk,Bosnia and Herzegovina,51197.0,51187.0,10.0,3867055.0,0.13,8.87,9.75,0.38,2015-11-01 13:21:32.191346,2015-11-01 13:21:32.191346,4047070.0
22,23,bc,Botswana,581730.0,566730.0,15000.0,2182719.0,1.21,20.96,13.39,4.56,2015-11-01 13:21:36.883097,2015-11-01 13:21:36.883097,3333662.0
23,24,br,Brazil,8515770.0,8358140.0,157630.0,204259812.0,0.77,14.46,6.58,0.14,2015-11-01 13:21:42.799461,2015-11-01 13:21:42.799461,267439339.0
24,25,bx,Brunei,5765.0,5265.0,500.0,429646.0,1.62,17.32,3.52,2.43,2015-11-01 13:21:47.136638,2015-11-01 13:21:47.136638,757453.0
25,26,bu,Bulgaria,110879.0,108489.0,2390.0,7186893.0,0.58,8.92,14.44,0.29,2015-11-01 13:21:52.018824,2015-11-01 13:21:52.018824,8804465.0
26,27,uv,Burkina Faso,274200.0,273800.0,400.0,18931686.0,3.03,42.03,11.72,0.00,2015-11-01 13:21:56.976083,2015-11-01 13:21:56.976083,54671198.0
27,28,bm,Burma,676578.0,653508.0,23070.0,56320206.0,1.01,18.39,7.96,0.28,2015-11-01 13:22:03.329538,2015-11-01 13:22:03.329538,80202394.0
28,29,by,Burundi,27830.0,25680.0,2150.0,10742276.0,3.28,42.01,9.27,0.00,2015-11-01 13:22:08.382756,2015-11-01 13:22:08.382756,33858395.0
29,30,cb,Cambodia,181035.0,176515.0,4520.0,15708756.0,1.58,23.83,7.68,0.32,2015-11-01 13:22:16.286410,2015-11-01 13:22:16.286410,27309053.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,195,zi,Zimbabwe,390757.0,386847.0,3910.0,14229541.0,2.21,32.26,10.13,0.00,2015-11-01 13:35:57.711444,2015-11-01 13:35:57.711444,30840235.0
195,196,tw,Taiwan,35980.0,32260.0,3720.0,23415126.0,0.23,8.47,7.11,0.89,2015-11-01 13:36:02.255373,2015-11-01 13:36:02.255373,25377989.0
203,204,hk,Hong Kong,1108.0,1073.0,35.0,7141106.0,0.38,9.23,7.07,1.68,2015-11-01 13:36:23.189516,2015-11-01 13:36:23.189516,8156928.0
204,205,mc,Macau,28.0,28.0,0.0,592731.0,0.80,8.88,4.22,3.37,2015-11-01 13:36:27.392999,2015-11-01 13:36:27.392999,784260.0
205,206,fo,Faroe Islands,1393.0,1393.0,0.0,50196.0,0.51,13.77,8.71,0.00,2015-11-01 13:36:31.157109,2015-11-01 13:36:31.157109,60005.0
208,209,fp,French Polynesia,4167.0,3827.0,340.0,282703.0,0.94,15.22,5.02,0.84,2015-11-01 13:36:40.733124,2015-11-01 13:36:40.733124,392838.0
210,211,nc,New Caledonia,18575.0,18275.0,300.0,271615.0,1.38,15.33,5.52,4.01,2015-11-01 13:36:47.582833,2015-11-01 13:36:47.582833,440269.0
213,214,sb,Saint Pierre and Miquelon,242.0,242.0,0.0,5657.0,1.08,7.42,9.72,8.49,2015-11-01 13:36:55.432885,2015-11-01 13:36:55.432885,8256.0
214,215,wf,Wallis and Futuna,142.0,142.0,0.0,15613.0,0.33,13.45,5.06,5.06,2015-11-01 13:36:58.489862,2015-11-01 13:36:58.489862,17525.0
215,216,aa,Aruba,180.0,180.0,0.0,112162.0,1.33,12.56,8.18,8.92,2015-11-01 13:37:02.407642,2015-11-01 13:37:02.407642,178653.0
216,217,cc,Curacao,444.0,444.0,0.0,148406.0,0.43,13.80,8.20,1.40,2015-11-01 13:37:05.782750,2015-11-01 13:37:05.782750,172509.0
217,218,sk,Sint Maarten,34.0,34.0,0.0,39689.0,1.51,13.00,4.51,6.63,2015-11-01 13:37:08.571949,2015-11-01 13:37:08.571949,67328.0
225,226,av,Anguilla,91.0,91.0,0.0,16418.0,2.03,12.67,4.57,12.18,2015-11-01 13:37:30.034876,2015-11-01 13:37:30.034876,33411.0
226,227,bd,Bermuda,54.0,54.0,0.0,70196.0,0.50,11.33,8.23,1.88,2015-11-01 13:37:33.894038,2015-11-01 13:37:33.894038,83621.0
228,229,vi,British Virgin Islands,151.0,151.0,0.0,33454.0,2.32,10.91,4.99,17.28,2015-11-01 13:37:39.647840,2015-11-01 13:37:39.647840,75352.0
229,230,cj,Cayman Islands,264.0,264.0,0.0,56092.0,2.10,12.11,5.53,14.40,2015-11-01 13:37:43.647884,2015-11-01 13:37:43.647884,116979.0
232,233,gi,Gibraltar,6.0,6.0,0.0,29258.0,0.24,14.08,8.37,3.28,2015-11-01 13:37:51.980087,2015-11-01 13:37:51.980087,31822.0
233,234,gk,Guernsey,78.0,78.0,0.0,66080.0,0.34,9.84,8.78,2.32,2015-11-01 13:37:55.085750,2015-11-01 13:37:55.085750,74431.0
234,235,je,Jersey,116.0,116.0,0.0,97294.0,0.80,11.91,7.68,3.76,2015-11-01 13:37:58.442238,2015-11-01 13:37:58.442238,128733.0
235,236,im,Isle of Man,572.0,572.0,0.0,87545.0,0.76,11.10,10.06,6.56,2015-11-01 13:38:01.914270,2015-11-01 13:38:01.914270,114223.0
236,237,mh,Montserrat,102.0,102.0,0.0,5241.0,0.50,11.26,6.30,0.00,2015-11-01 13:38:05.670256,2015-11-01 13:38:05.670256,6243.0
238,239,sh,"Saint Helena, Ascension, and Tristan da Cunha",308.0,122.0,0.0,7795.0,0.24,9.88,7.44,0.00,2015-11-01 13:38:11.767274,2015-11-01 13:38:11.767274,8478.0
240,241,tk,Turks and Caicos Islands,948.0,948.0,0.0,50280.0,2.30,16.13,3.10,9.94,2015-11-01 13:38:17.164473,2015-11-01 13:38:17.164473,112461.0
241,242,aq,American Samoa,199.0,199.0,0.0,54343.0,0.30,22.89,4.75,21.13,2015-11-01 13:38:20.926072,2015-11-01 13:38:20.926072,60359.0
242,243,gq,Guam,544.0,544.0,0.0,161785.0,0.54,16.82,5.12,6.34,2015-11-01 13:38:24.699655,2015-11-01 13:38:24.699655,195443.0
244,245,cq,Northern Mariana Islands,464.0,464.0,0.0,52344.0,2.18,18.32,3.71,7.16,2015-11-01 13:38:30.017480,2015-11-01 13:38:30.017480,112262.0
245,246,rq,Puerto Rico,13791.0,8870.0,4921.0,3598357.0,0.60,10.86,8.67,8.15,2015-11-01 13:38:34.502065,2015-11-01 13:38:34.502065,4439214.0
246,247,vq,Virgin Islands,1910.0,346.0,1564.0,103574.0,0.59,10.31,8.54,7.67,2015-11-01 13:38:38.270075,2015-11-01 13:38:38.270075,127331.0
250,251,gz,Gaza Strip,360.0,360.0,0.0,1869055.0,2.81,31.11,3.04,0.00,2015-11-01 13:38:48.049460,2015-11-01 13:38:48.049460,4997476.0
253,254,we,West Bank,5860.0,5640.0,220.0,2785366.0,1.95,22.99,3.50,0.00,2015-11-01 13:38:55.084643,2015-11-01 13:38:55.084643,5511734.0

## Summing Columns to Compute Total Area

We can add up all of the values in a column by using the `SUM` function in a SQL query. For example, we can calculate the total `population` with this query:

```sql
SELECT SUM(population) from facts;
```

We can also add a `WHERE` clause, like this:

```sql
SELECT SUM(population) from facts WHERE area_land != "";
```

In [2]:
query = "select sum(area_land) / sum(area_water) from facts where (area_land != '') and (area_water != '');"
total = cur.execute(query).fetchone()
print(total[0])

27

Here are a few more interesting questions to answer to:

- Which countries will lose population over the next 35 years?
- Which countries have the lowest and highest population densities?
- Which countries receive the most immigrants? Which countries lose the most imigrants?